<section class="addmusic-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><form class="sign-out" action="/logout" method="post">
            <button class="logout" type="submit" style='font-size:1.2rem;color:white'>
                Log out
            </button>
        </form></li>
    </ul>
    </div>
</nav>

<form class="add-to-playlist" action="./{{playlist._id}}" method="post">
    <p class="add-music-title">Select from the Library</p>
    {{#each musics}}
        <div class="atp"><label><input class="atp-input" name="musics[]" type="checkbox" value="{{this._id}}" />{{this.title}} </label></div>
    {{/each}}
    <div class="info_block">
        <button class="btn-hover color-8" class="buttons" id="atp-btn" type="submit">Add to {{playlist.name}}</button>
    </div>
</form>
</section>