<section class="addmusic-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'><i class="fa fa-user" style="font-size:24px"></i>&nbsp;&nbsp; Profile</a></button></li> 
        <li><button class="profile"><a href="javascript:a_post();" style='font-size:1.2rem;color:white'><i class="fa fa-sign-out" style="font-size:24px"></i>&nbsp; Log out</a></button></li>
    </ul>
    </div>
</nav>

<div style="display:'none'" > 
	<form id="a_post" action="/logout" method="post"></form>
</div>

<form class="add-new" action="/addmusic" method="post">
    <div class="info_block">
        <label class="input_block" for="title">Title</br>
        <input class="input_block"
            id="title"
            name="title"
            type="text"
            required
        />
    </div>
    <div class="info_block">
        <label class="input_block" for="artist">Artist</br>
        <input class="input_block"
            id="artist"
            name="artist"
            type="text"
            required
        />
    </div>
    <div class="info_block">
        <label class="input_block" for="album">Album</br>
        <input class="input_block"
            id="album"
            name="album"
            type="text"
        />
    </div>
    <label class="info_block">Select genre &nbsp;&nbsp;&nbsp;
        <select class="info_block" class="info_block" name="genre" style="background-color: rgba(255,255,255, 0.8); border-radius: 5px;">
        <option style="color: black" class="input_block" value="Rock" selected>Rock</option>
        <option style="color: black" class="input_block" value="Jazz">Jazz</option>
        <option style="color: black" class="input_block" value="Electronic">Electronic</option>
        <option style="color: black" class="input_block" value="Hip hop">Hip hop</option>
        <option style="color: black" class="input_block" value="Pop">Pop</option>
        <option style="color: black" class="input_block" value="Techno">Techno</option>
        <option style="color: black" class="input_block" value="R&B">R&ampB</option>
        <option style="color: black" class="input_block" value="Country">Country</option>
        <option style="color: black" class="input_block" value="classical">Classical</option>
        <option style="color: black" class="input_block" value="Blues">Blues</option>
        </select>
    </label>
    <div class="info_block">
        <button class="btn-hover color-8" type="submit">Add Music</button>
    </div>
</form>
</section>