<section class="addmusic-section">
<nav class="nav-top">
    <div>
        <img class="logo" src="/pictures/logo1.png">
    </div>
</nav>

<form class="add-new" action="/addmusic" method="post">
    <div class="info_block">
        <label class="input_block" for="title">title</br>
        <input class="input_block"
            id="title"
            name="title"
            type="text"
            required
        />
    </div>
    <div class="info_block">
        <label class="input_block" for="artist">artist</br>
        <input class="input_block"
            id="artist"
            name="artist"
            type="text"
        />
    </div>
    <div class="info_block">
        <label class="input_block" for="album">album</br>
        <input class="input_block"
            id="album"
            name="album"
            type="text"
        />
    </div>
    <select class="info_block" name="genre">
        <option class="input_block" value="pop" selected>pop</option>
        <option class="input_block" value="indie">indie</option>
        <option class="input_block" value="rock">rock</option>
        <option class="input_block" value="rap">rap</option>
        <option class="input_block" value="classical">classical</option>
    </select>
    <div class="info_block">
        <button class="bottons" class="input_block" type="submit">Add Music</button>
    </div>
</form>
</section>