<section class="change-name-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><button class="profile"><a href="javascript:a_post();" style='font-size:1.2rem;color:white'>Sign out</a></button></li>
    </ul>
    </div>
</nav>

<div style="display:'none'" > 
	<form id="a_post" action="/logout" method="post"></form>
</div>

<form class="add-new" action="/changename" method="post">
    <div class="info_block">
        <label class="input_block" for="name">New screen name</br>
        <input class="input_block"
            id="name"
            name="name"
            type="text"
            required
        />
    </div>
    <div class="info_block">
        <button class="btn-hover color-8" class="buttons" class="input_block" type="submit">Submit</button>
    </div>
</form>
</section>