<section class="addlist-section">
<nav class="nav-top">
    <div>
        <img class="logo" src="/pictures/logo1.png">
    </div>
</nav>

<form class="add-new" action="/addplaylist" method="post">
    <div class="info_block">
        <label class="input_block" for="name">name</br>
        <input class="input_block"
            id="name"
            name="name"
            type="text"
            required
        />
    </div>
    <div class="info_block">
        <label class="input_block" for="description">description</br>
        <input class="input_block"
            id="description"
            name="description"
            type="text"
        />
    </div>
    <div class="info_block">
        <button class="btn-hover color-8" class="buttons" class="input_block" type="submit">Create Playlist</button>
    </div>
</form>
</section>