<div class="intro">
    <h1 class="intro_msg">Track your own music with playlists!</h1>
    <h1 class="intro_msg">Explore new music and playlists!</h1>
    <h1 class="intro_msg">Used by music lovers all over the world!</h1>
    <div style="text-align: center;"><img class="intro_img" src="/pictures/mainpage.png"></div>
    <p class="intro_msg">JOIN US NOW!</p>
    <div class="intro_links">
        <button type="button" class="btn-hover color-8" style="margin-left: 3%; margin-right: 3%;"><a class="intro_link" href="./login">Log in</a></button>
        <button type="button" class="btn-hover color-8" style="margin-left: 3%; margin-right: 3%;"><a class="intro_link" href="./signup">New user</a></button>
    </div>
    <br>
    <br>
</div>