
<nav class="nav-top">
    <div class="logo">
        <img src="/pictures/logo1.png" height="85px">
    </div>
</nav>


{{#each flash}}
    <p class="errorLogin">{{this}}</p>
{{/each}}

<form class="login" action="/login" method="post">
    <div class="info_block">
        <label for="username">Email</br>
        <input class="input_block"
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            required
        />
    </div>
    <div class="info_block">
        <label for="password">Password</br>
        <input class="input_block"
            id="password"
            name="password"
            type="password"
            autocomplete="password"
            required
        />
    </div>
    <div>
        <button type="submit" class="btn-hover color-8" class="buttons">Log In</button>
    </div>

    <div style="margin-top: 2rem">
        <a href="./signup">Sign Up</br>
        <a href="/login">Forgot Password</a>
    </div>
</form>

