<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><button class="profile"><a href="javascript:a_post();" style='font-size:1.2rem;color:white'>Sign out</a></button></li>
    </ul>
    </div>
</nav>

<div style="display:'none'" > 
	<form id="a_post" action="/logout" method="post"></form>
</div>

{{#with data}}
<div class="profile-content">
<p>Screen name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{this.screen_name}}</p>
<p>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{this.email}}</p>
<p>Registration date: &nbsp; {{showDate this.start_date}}</p>
    <div class="profile-page-button">
        <a href="/changename" class="profile-button">Edit screen name</a><br>
        <a href="/changepassword" class="profile-button">Change password</a>
    </div>
</div>
{{/with}}

