<nav class="nav-top">
    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><span>Profile</span></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><a href="/profile">Profile</a></li> 
        <li><form class="sign-out" action="/logout" method="post">
            <button class="logout" type="submit">
                Sign out
            </button>
        </form></li>
    </ul>
    </div>
</nav>

{{#with data}}
<div class="profile-content">
<p>Screen name: {{this.screen_name}}</p>
<p>Contact email: {{this.email}}</p>
<p>Start date: {{showDate this.start_date}}</p>
<a href="/changename">Edit screen name</a><br>
<a href="/changepassword">Change password</a>
</div>
{{/with}}

