<nav class="nav-top">
    <div class="logo">
        <img src="/pictures/logo1.png" height="85px">
    </div>
</nav>

<div style="height: 3px; background: #9E67EF;"></div>

<form class="register" action="/signup" method="post">

    <div class="info_block">
        <label for="email">Username (email)</label>
        <input id="email" 
               name="email" 
               type="email"
               required 
        />
    </div>

    <div class="info_block">
        <label for="password">Password</label>
        <input
            id="password"
            name="password"
            type="text"
            minlength="8"
            required
        />
    </div>

    <div class="info_block">
        <label for="screen_name">Screen name</label>
        <input id="screen_name" 
            name="screen_name" 
            type="text" 
            required 
        />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>