/* central area to control type and colour */
:root {
    --color-white: #ffffff;
    --color-grey: #EEEEEE;
}
/* global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Poppins", sans-serif;
}


/* CSS for main core which can support responsive */
header{
    top: 0;
    display: flex;
    align-items:center;
    height: 8%;
    width: 100%;
}
.page {
    background-image: url("../pictures/background.png");
    height: 95%;
}
footer {
    position:absolute;
    bottom: 0;
    color: white;
    display:block;
    align-items:center;
    height: 5%;
    width: 100%;
    background: black;
}
body {
    background-size: contain;
    position: relative;
    min-height: 100vh;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column;  */
    margin: 0;
    padding: 0;
    width: 100%;
}

/* page layout - desktop version */
.home-section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-gap: 0;

    grid-template-areas: 
        "header header"
        "menu main";
}

/* assign regions of the page to the grid */
.nav-top { grid-area: header; }
.nav-left { grid-area: menu; }
.rhs { grid-area: main; }


/* hover effect for buttons */
.btn-hover {
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 3rem;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/* nav bar in main page */
.nav-top {
    height: 5.5rem;
    align-items: center;
    text-align: center;
    background: black;
}
.logo {
    height: 5rem;
    margin-left: 47%;
    float: left;
    overflow: hidden;
}
.nav-left {
    background: #0D0D0D;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}
.dd-menu {
    margin-left: 90%;
    width : 9%;
    background: black;
    position: absolute;
    box-sizing: border-box;
    height: 5rem;
} 
span {
    padding : 30px;
    box-sizing: border-box;
    height: 5rem;
    background : #000000; 
    color : white;
    font-size : 1.4em;
    cursor : pointer;
    display: block;
    text-align: center;
}
.slide {
    background: black;
    color: white;
    clear:both;
    width:100%;
    height:auto;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s .3s, visibility .6s;
}
.slide li {padding : 1.5rem;}
.slide li a{
    color: #ffffff;
    text-decoration-line: none;
    font-size: 1.4rem;
}
#touch {position: absolute; opacity: 0; height: 0px;}    
#touch:hover + .slide {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s;
}
.slide:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s;
}
.logout {
    background: black;
    color: #ffffff;
    font-size: 1.4rem;
}

/* right hand side of main page: the playlist */
.rhs {
    background: rgba(74, 74, 74, 0.7);
    color: #A6A6A6;
    width: 100%;
    height: 100%;
}

/* left side information */
.nav-left p {
    color: #A6A6A6;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nav-button {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: #0D0D0D;
    margin-left: 2rem;
}
.nav-button:hover {
    font-size: 1.6rem;
}

/* playlists in the nav bar */
.playlists {
    margin-left: 2rem;
}
.playlist {
    display: block;
    text-align: center;
    color: white;
    background-color: #0D0D0D;
}
.playlist-name {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.playlist-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
/* headers */
.heading {
    text-align: left;
    font-size: 1.5rem;
    background-color: #262626;
    color: white;
}
.entity:nth-child(odd){background-color: #595856;}
.title {
    padding: 0.5rem;
    color: white;
}

/* add musics and playlists pages */
.add-new {
    background: rgba(74, 74, 74, 0.3);
    height: 70%;
    width: 70%;
    margin: auto;
    color: white;
    padding: 5rem;
    padding-top: 3rem;
}
.info_block {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.input_block {
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* for all buttons default */
.buttons {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
}
.add-to-playlist {
    color: #ffffff;
    background: rgba(74, 74, 74, 0.7);
    min-height: 60%;
    padding: 3rem;
    font-size: 1.1rem;
    margin-left: 25%;
    margin-right: 25%;
}

/* login and register page */
.register {
    background: rgba(74, 74, 74, 0.3);
    height: 60%;
    width: 70%;
    margin: auto;
    color: white;
    padding: 5rem;
}
.signup-left {
    grid-area: left;
    float: left;
    margin-right: 4rem;
}
.signup-right {
    grid-area: right;
}
.info_block_selection {
    font-size: 1.6rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}
.signup-inputs {
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas: 
        "left right";
}

/* login page */
.login {
    background: rgba(74, 74, 74, 0.3);
    height: 60%;
    width: 70%;
    margin: auto;
    color: white;
    padding: 5rem;
}
.error-login {
    color: red;
}
a:hover{
    color:darkorchid;
}

/* change password page */
.change-password {
    background: rgba(74, 74, 74, 0.3);
    height: 60%;
    width: 70%;
    margin: auto;
    color: white;
    padding: 5rem;
}
.change-password-left {
    grid-area: left;
    float: left;
    margin-right: 4rem;
}
.change-password-right {
    grid-area: right;
}
.change-password-inputs {
    margin-bottom: 3rem;
    display: grid;
    grid-template-areas: 
        "left right";
}

/* add music to a playlist */
input.atp-input {
    margin-top: 0.8rem;
    height: 1.1rem;
    width: 1.1rem;
}

.atp {
    padding-left: 20%;
    font-size: 1.4rem;
}
/* button position */
#atp-btn {
    margin-top: 5%;
    margin-left: 20%;
}
.add-to-playlist-button {
    margin-left: 80%;
    background: rgba(74, 74, 74, 0);
    color: white;
    font-size: 1.2rem;
}
.add-to-playlist-button:hover {
    font-size: 1.4rem
}
.add-music-title {
    font-size: 2rem;
    color: #A6A6A6;
    text-align: center;
    padding-bottom: 2rem;
}

/* profile page */
.profile-content {
    background: rgba(74, 74, 74, 0.5);
    height: 70%;
    width: 40%;
    margin: auto;
    color: white;
    padding: 5rem;
    padding-top: 3rem;
    font-size: 1.4rem;
    line-height: 2;
}
.profile-content a {
    color: white;
}